In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import re
import numpy as np

In [2]:
#First let's clean the dataset

In [3]:
df = pd.read_csv('../../data/train.csv')

In [4]:
df.head()

,id,timestamp,retweet_count,user_verified,user_statuses_count,user_followers_count,user_friends_count,user_mentions,urls,hashtags,text
0,0,1588696955143,0,False,68460,1101,1226,NaN,NaN,NaN,Smh I give up
1,1,1588464948124,0,False,309,51,202,NaN,NaN,NaN,"Most of us are Human Beings, but I think you m..."
2,2,1588634673360,0,False,3241,1675,2325,NaN,NaN,NaN,"Old dirty tricks Trump, at it again...like we ..."
3,3,1588433158672,0,False,32327,667,304,NaN,NaN,NaN,Seriously..... I worked 86 hours my last check...
4,4,1588582751599,0,False,581,42,127,NaN,NaN,NaN,May ALMIGHTY ALLAH have mercy on us all. Only ...

### Function used to add the hashtags from text to 'hashtags' column

In [5]:
def clean_hashtag(row):
    return " ".join(filter(lambda x:x[0]!='#', row.split()))

def delete_duplicates(string):
    words = string.split(',')
    words = list(map(str.strip, words))
    return " ".join(sorted(set(words), key=words.index))

In [6]:
#Remove hashtags from text
def find_deplace_hashtags(df):
    '''
    This function moves the "#" from the text directly to the 'hashtags' columns.
    '''
    #Find extra hashtags
    extra_hashtags = df.apply(lambda x: re.findall("[#]\w+", x.text), axis=1)
    
    clean_hashtags = []
    for ls in extra_hashtags:
        res = ', '.join(ls)
        res = res.replace('#','')
        clean_hashtags.append(res)
    
    print(clean_hashtags)
    df.text = df.apply(lambda x: clean_hashtag(x.text), axis=1)
    
    #add them to hashtags columns
    df['hashtags'] = df['hashtags'] + ', ' + pd.Series(clean_hashtags)
    df.hashtags = df.apply(lambda x : delete_duplicates(str(x.hashtags)), axis=1)

### Before

In [7]:
print(df.iloc[665773].hashtags)
print(df.iloc[665773].text)
print(df.iloc[665773].urls)

COVID19
Thank you to all of the nurses in our @StanfordEMED family sharing the #COVID19 frontlines. We are definitely #strongertogether because of you! https://t.co/X1XaJjhbsO
twitter.com/i/web/status/1‚Ä¶

### After

In [8]:
find_deplace_hashtags(df)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [9]:
print(df.iloc[665773].hashtags)
print(df.iloc[665773].text)

COVID19 strongertogether
Thank you to all of the nurses in our @StanfordEMED family sharing the frontlines. We are definitely because of you! https://t.co/X1XaJjhbsO

### Cleaning the URLS

In [10]:
def clean_urls(row):
    return " ".join(filter(lambda x:x[0:5]!='https', row.split()))

In [11]:
#Remove URLS
def find_deplace_urls(df):
    '''
    This function moves the "#" from the text directly to the 'hashtags' columns.
    '''
    #Find extra hashtags
    extra_urls = df.apply(lambda x: re.findall(r"https.*", x.text), axis=1)
    
    clean_urls_res = []
    for ls in extra_urls:
        res = ', '.join(ls)
        clean_urls_res.append(res)
   
    df.text = df.apply(lambda x: clean_urls(x.text), axis=1)
        
    #add them to urls columns  
    df.urls = df.apply(lambda x : delete_duplicates(str(x.urls)), axis=1)
    df["urls"] = df["urls"].str.cat(clean_urls_res, sep=', ')
    df.urls = df.urls.replace('nan, ',np.NaN)

In [12]:
find_deplace_urls(df)

### After

In [13]:
print(df.iloc[665773].text)

Thank you to all of the nurses in our @StanfordEMED family sharing the frontlines. We are definitely because of you!

### Cleaning the user_mentions

In [14]:
def clean_at(row):
    return " ".join(filter(lambda x:x[0]!='@', row.split()))

In [15]:
#Remove hashtags from text
def find_deplace_ats(df):
    '''
    This function moves the "@" from the text directly to the 'hashtags' columns.
    '''
    #Find extra hashtags
    extra_hashtags = df.apply(lambda x: re.findall("[@]\w+", x.text), axis=1)
    
    clean_ats = []
    for ls in extra_hashtags:
        res = ', '.join(ls)
        res = res.replace('@','')
        clean_ats.append(res)
    
    df.text = df.apply(lambda x: clean_at(x.text), axis=1)
    
    #add them to hashtags columns
    df['user_mentions'] = df['user_mentions'] + ', ' + pd.Series(clean_ats)
    df.user_mentions = df.apply(lambda x : delete_duplicates(str(x.user_mentions)), axis=1)

In [16]:
find_deplace_ats(df)

### After #hashtags, @user_mentions and https links, we have only sentences in the text:

In [17]:
print(df.iloc[665773].hashtags)
print(df.iloc[665774].text)

COVID19 strongertogether
'Post it' pearls for Palliative, End of Life and Bereavement care in COVID-19 up the ED. Relating to symptom management, considerations for before and after death, honest conversations and goal setting

In [18]:
#Saving new csv
df.to_csv('../../data/train_cleanV1.csv')

### After

In [19]:
print(df.iloc[665773].text)

Thank you to all of the nurses in our family sharing the frontlines. We are definitely because of you!

In [20]:
df.head(25)

,id,timestamp,retweet_count,user_verified,user_statuses_count,user_followers_count,user_friends_count,user_mentions,urls,hashtags,text
0,0,1588696955143,0,False,68460,1101,1226,nan,NaN,nan,Smh I give up
1,1,1588464948124,0,False,309,51,202,nan,NaN,nan,"Most of us are Human Beings, but I think you m..."
2,2,1588634673360,0,False,3241,1675,2325,nan,NaN,nan,"Old dirty tricks Trump, at it again...like we ..."
3,3,1588433158672,0,False,32327,667,304,nan,NaN,nan,Seriously..... I worked 86 hours my last check...
4,4,1588582751599,0,False,581,42,127,nan,NaN,nan,May ALMIGHTY ALLAH have mercy on us all. Only ...
5,5,1588434563287,0,False,7214,503,1126,nan,NaN,nan,They couldn‚Äôt care less.
6,6,1588692966869,2,False,372,738,472,nan,"twitter.com/i/web/status/1‚Ä¶,",Ethiopia tourism,Extremely valid points being made here üëáüèæ now ...
7,7,1588316892450,1,False,2085,3808,153,nan,"twitter.com/i/web/status/1‚Ä¶, https://t.co/pGEh...",nan,COVID-19 dominated the discussion Tuesday at a...
8,8,1588625905286,0,False,17765,11666,40,nan,NaN,nan,BC now has 112 patients on ventilators. 17 of ...
9,9,1588604315931,0,False,3086,66,241,nan,NaN,nan,a COVID-19 vaccine would be pretty lit ngl
10,10,1588635076990,2,False,39684,13381,5247,nan,"twitter.com/i/web/status/1‚Ä¶, https://t.co/HFdQ...",nan,Man Caught With Pipe Bombs Was Planning Armed ...
11,11,1588342979489,5,False,2430,3798,2061,nan,"twitter.com/i/web/status/1‚Ä¶, https://t.co/yWun...",nan,Quarantine measures imposed as a response to t...
12,12,1588353841859,0,False,18420,185,181,nan,NaN,nan,"Look like a pair of classy birds, don‚Äôt see th..."
13,13,1588364452751,2,False,5865,10047,9741,nan,"onegreenplanet.org/natural-health‚Ä¶, https://t....",coronavirus AnimalCruelty,Why does Superstitious times Stupid always equ...
14,14,1588453882131,0,False,9546,287,462,nan,NaN,nan,What a surprise! The government screwed someth...
15,15,1588474027091,0,False,47561,2849,2212,nan,NaN,nan,Well that is one way of looking at it
16,16,1588322520125,1,False,16893,3054,3514,nan,"nan, https://t.co/e99l1D6NMB",COVID19 auspol coronavirus,NEW SOCIAL DISTANCING HANDSHAKES SURGE IN THE ...
17,17,1588558918116,26,False,15848,1257,1305,nan,"detroitnews.com/story/news/loc‚Ä¶, https://t.co/...",nan,
18,18,1588444289532,0,True,34130,9520,2225,nan,NaN,nan,ü§£ fear porn! Now THAT is funny! Some people ar...
19,19,1588530013011,0,False,19335,528,475,nan,NaN,nan,I am tired of people like you.
20,20,1588355513255,0,False,268,34,55,nan,NaN,nan,This Madagascar herbal drink for coro if enter...
21,21,1588337255572,0,False,856295,4707,2128,nan,NaN,nan,Why aren‚Äôt the flags at half staff?
22,22,1588338401403,0,False,226,8,79,nan,NaN,nan,Open up your state
23,23,1588289877937,1,False,171444,5845,5962,nan,"dailywire.com/news/nancy-pel‚Ä¶, https://t.co/WZ...",nan,We‚Äôre Calling FOUL PLAY: Nancy Pelosi Appoints...
24,24,1588289254894,12,False,10424,3083,1257,nan,"nan, https://t.co/wNZRvbU47e",nan,The Dartmouth COVID-19 North Testing Site is N...

In [21]:
df.head(25)

,id,timestamp,retweet_count,user_verified,user_statuses_count,user_followers_count,user_friends_count,user_mentions,urls,hashtags,text
0,0,1588696955143,0,False,68460,1101,1226,nan,NaN,nan,Smh I give up
1,1,1588464948124,0,False,309,51,202,nan,NaN,nan,"Most of us are Human Beings, but I think you m..."
2,2,1588634673360,0,False,3241,1675,2325,nan,NaN,nan,"Old dirty tricks Trump, at it again...like we ..."
3,3,1588433158672,0,False,32327,667,304,nan,NaN,nan,Seriously..... I worked 86 hours my last check...
4,4,1588582751599,0,False,581,42,127,nan,NaN,nan,May ALMIGHTY ALLAH have mercy on us all. Only ...
5,5,1588434563287,0,False,7214,503,1126,nan,NaN,nan,They couldn‚Äôt care less.
6,6,1588692966869,2,False,372,738,472,nan,"twitter.com/i/web/status/1‚Ä¶,",Ethiopia tourism,Extremely valid points being made here üëáüèæ now ...
7,7,1588316892450,1,False,2085,3808,153,nan,"twitter.com/i/web/status/1‚Ä¶, https://t.co/pGEh...",nan,COVID-19 dominated the discussion Tuesday at a...
8,8,1588625905286,0,False,17765,11666,40,nan,NaN,nan,BC now has 112 patients on ventilators. 17 of ...
9,9,1588604315931,0,False,3086,66,241,nan,NaN,nan,a COVID-19 vaccine would be pretty lit ngl
10,10,1588635076990,2,False,39684,13381,5247,nan,"twitter.com/i/web/status/1‚Ä¶, https://t.co/HFdQ...",nan,Man Caught With Pipe Bombs Was Planning Armed ...
11,11,1588342979489,5,False,2430,3798,2061,nan,"twitter.com/i/web/status/1‚Ä¶, https://t.co/yWun...",nan,Quarantine measures imposed as a response to t...
12,12,1588353841859,0,False,18420,185,181,nan,NaN,nan,"Look like a pair of classy birds, don‚Äôt see th..."
13,13,1588364452751,2,False,5865,10047,9741,nan,"onegreenplanet.org/natural-health‚Ä¶, https://t....",coronavirus AnimalCruelty,Why does Superstitious times Stupid always equ...
14,14,1588453882131,0,False,9546,287,462,nan,NaN,nan,What a surprise! The government screwed someth...
15,15,1588474027091,0,False,47561,2849,2212,nan,NaN,nan,Well that is one way of looking at it
16,16,1588322520125,1,False,16893,3054,3514,nan,"nan, https://t.co/e99l1D6NMB",COVID19 auspol coronavirus,NEW SOCIAL DISTANCING HANDSHAKES SURGE IN THE ...
17,17,1588558918116,26,False,15848,1257,1305,nan,"detroitnews.com/story/news/loc‚Ä¶, https://t.co/...",nan,
18,18,1588444289532,0,True,34130,9520,2225,nan,NaN,nan,ü§£ fear porn! Now THAT is funny! Some people ar...
19,19,1588530013011,0,False,19335,528,475,nan,NaN,nan,I am tired of people like you.
20,20,1588355513255,0,False,268,34,55,nan,NaN,nan,This Madagascar herbal drink for coro if enter...
21,21,1588337255572,0,False,856295,4707,2128,nan,NaN,nan,Why aren‚Äôt the flags at half staff?
22,22,1588338401403,0,False,226,8,79,nan,NaN,nan,Open up your state
23,23,1588289877937,1,False,171444,5845,5962,nan,"dailywire.com/news/nancy-pel‚Ä¶, https://t.co/WZ...",nan,We‚Äôre Calling FOUL PLAY: Nancy Pelosi Appoints...
24,24,1588289254894,12,False,10424,3083,1257,nan,"nan, https://t.co/wNZRvbU47e",nan,The Dartmouth COVID-19 North Testing Site is N...